:root{
    --gray: #EAE9EB;
}
/* Stilizimi i header-it */
.header {
    padding: 15px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
}
.header ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}

.header a {
    font-size: large;
    text-decoration: none;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.icons img {
    width: 30px;
    height: 30px;
}

/* Stilizimi i main */
.main {
    background-color: var(--gray);
}

.main .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.main img {
    height: 100vh;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.text p {
    font-size: large;
}

/* Stilizimi i footer-it */
.footer {
    margin: 0px;
}

.footer .container {
    margin: 20px 150px;
    display: flex;
    justify-content: space-between;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: light;
}

.socials {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.socials img {
    width: 30px;
    padding-right: 10px;
}

.list ul {
    padding-left: 0px;
    align-items: flex-start;
    list-style: none;
}

.list ul li {
    padding-bottom: 10px;
}

.list ul a {
    text-decoration: none;
    color: black;
}

.copyright {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--gray);
    padding: 5px;
}
