/* Stilizimi i header-it */
.header {
    padding: 15px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
}
.header ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}

.header a {
    font-size: large;
    text-decoration: none;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.icons img {
    width: 30px;
    height: 30px;
}

/* Stilizimi i hero-it */
.hero {
    width: 100%;
}
.hero img {
    width: 100%;
}

#previous, #next {
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    width: 55px;
    cursor: pointer;
}

#previous { left: 10px; }
#next { right: 10px; }

/* Stilizimi i video-s */
.video {
    width: 100%;
    height: 100vh;
    padding: 0px;
}

.video video{
    width: 100%;
    height: 100vh;
}

/* Stilizimi i footer-it */
.footer {
    margin: 0px;
}

.container {
    margin: 20px 150px;
    display: flex;
    justify-content: space-between;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: light;
}

.socials {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.socials img {
    width: 30px;
    padding-right: 10px;
}

.list ul {
    padding-left: 0px;
    align-items: flex-start;
    list-style: none;
}

.list ul li {
    padding-bottom: 10px;
}

.list ul a {
    text-decoration: none;
    color: black;
}

.copyright {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--gray);
    padding: 5px;
}
