:root{
    --gray: #EAE9EB;
}
/*Header*/
.header {
    padding: 15px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
}
.header ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}

.header a {
    font-size: large;
    text-decoration: none;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.icons img {
    width: 30px;
    height: 30px;
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: black;
}
.header .search-form {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 25px;
    padding: 5px 10px;
    margin-left: 20px;
    transition: all 0.3s ease;
}

.header .search-form input{
    border: none;
    outline: none;
    background: transparent;
    padding: 8px 10px;
    font-size: 0.95rem;
    width: 180px;
    transition: width 0.3s ease;
}

.header .search-form button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header .search-form button img {
    width: 20px;
    height: 20px;
}

.header .search-form input:focus {
    width: 250px;
}

.header .search-form:hover {
    background-color: #e0e0e0;
}
/*Form Container*/
.register-container{
    max-width: 420px;
    margin: 40px auto;
    background-color: white;
    border: 1px solid #ccc;
    padding: 35px;
    border-radius: 10px;
}
.register-container h2{
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-group p {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-group input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}
/*Checkboxes*/
.checkbox-group{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 15px;
}
.checkbox-group input {
    margin-right: 10px;
}
.checkbox-group label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/*Button*/
.register-button{
    width: 100%;
    padding: 12px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}
.register-button:hover{
    background-color: #333;
}
.signin-text{
    text-align: center;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
}
.signin-text a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.error {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: #b00020;
   font-weight: bold;
   font-size: 13px;
   margin-top: 6px
}

/*.success {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0a7a3a;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}*/

/* Footer*/
.footer {
    margin: 0px;
    border-top: 1px #ccc solid;
}

.footer .container {
    margin: 20px 150px;
    display: flex;
    justify-content: space-between;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: light;
}

.socials {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.socials img {
    width: 30px;
    padding-right: 10px;
}

.list ul {
    padding-left: 0px;
    align-items: flex-start;
    list-style: none;
}

.list ul li {
    padding-bottom: 10px;
}

.list ul a {
    text-decoration: none;
    color: black;
}

.copyright {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--gray);
    padding: 5px;
}
/*Stilizimi per responsivitet*/
@media (max-width: 768px) {

.header ul{
  display: none;
}

.hamburger {
  display: flex;
}

.header{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
}

.header ul.show{
  display: flex;
  flex-direction: column;
  background: white;
  position: absolute;
  top: 70px;
  right: 20px;
  padding: 15px;
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 1000;
}

.logo{
    order: 1;
}

.icons{
    order: 2;;
}

.hamburger{
    order: 3;
}

.footer .container {
    flex-direction: column;
    margin: 20px 30px;
    gap: 20px;
}

.footer .left,
.footer .list {
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.socials {
    justify-content: center;
    gap: 10px;
}


}